<h3>Trainer</h3>
<p>Name: <%= @trainer.name if @trainer.name %></p>
<p>Email: <%= @trainer.email if @trainer.email %></p>
<h3>Pokemon</h3>
    <div class="column">
      <table class="table">
        <tbody>
        	<% @trainer.pokemons.map do |poke| %>
        		<tr>
       			<td>
       			  <%= "#{poke.name}, health: #{poke.health}, is level #{poke.level}" %>
       		    </td>
       		    <td>
       		    	<%= button_to "Damage!", damage_path(id: poke.id), :class =>"button small", :method => :patch%>
       		    </td>
        		</tr>
          <% end %>
        </tbody>
      </table>
    </div>

<% if current_trainer.id == @trainer.id %>
	<%= button_to "Make a new Pokemon", pokemons_new_path, :class =>"button small", :method => :get%>
<% end %>